stages:
  - build-and-test

build-and-test-release:
  stage: build-and-test
  tags: [linux]
  variables:
    CC: clang
    CXX: clang++
  script:
    - mkdir -p build
    - cmake -B build -S . -DCMAKE_BUILD_TYPE=RelWithDebInfo -GNinja
    - /usr/bin/time --format="--- BUILD TIME %e seconds ---" 
        cmake --build build --target cc-tests --config RelWithDebInfo --parallel
    - ./bin/release/cc-tests

build-and-test-debug:
  stage: build-and-test
  tags: [linux]
  variables:
    CC: clang
    CXX: clang++
  script:
    - mkdir -p build
    - cmake -B build -S . -DCMAKE_BUILD_TYPE=Debug -GNinja
    - /usr/bin/time --format="--- BUILD TIME %e seconds ---"
        cmake --build build --target cc-tests --config Debug --parallel
    - valgrind --leak-check=full ./bin/debug/cc-tests
    - /usr/bin/time --format="--- DEMO BUILD TIME %e seconds ---"
        cmake --build build --target cc-demo --config Debug --parallel 1

build-and-test-release-macos:
  stage: build-and-test
  tags: [macos]
  before_script:
    - source ~/.zprofile
  script:
    - mkdir -p build
    - cmake -B build -S . -DCMAKE_BUILD_TYPE=RelWithDebInfo -GNinja
    - /usr/bin/time 
        cmake --build build --target cc-tests --config RelWithDebInfo --parallel
    - ./bin/release/cc-tests
    - /usr/bin/time 
        cmake --build build --target cg-example --config RelWithDebInfo --parallel